/* CSS Resetten */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}

/* Foto's responsive maken */
img {
	width: 100%;
	height: auto;
}

/* Lettertypen */
p, h1, h2, h3{
	font-family: 'Cabin Condensed', sans-serif;
}

/* Basis opmaak pagina */
h1{
	text-align:center;
	font-size: 60px;
}

p{
	margin-left: 10px;
	margin-right: 10px;
}

/* Grote rode knop en titel*/
.button-red{
	display:table;
	position:relative;
	font-size:14px;
	margin:0 auto;
	outline:none;
	color:#fff;
	border:none;
	text-decoration:none;
	text-align:center;
	background-color: blue;
	font-size:30px;
	padding: 20px;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
}

.bigasstitle{
	margin-top: 90px;
    font-size: 120px;
    color: #fff;
}

/* Kolommen per pagina */

/* 1 kolom */
#contentBox {
    margin: 0 auto;
    width: 100%;
}

/* 2 kolommen */
#contentBox .column-2 {
	float: left;
	margin: 0;
	width: 50%;
}

/* 3 kolommen */
#contentBox .column-3 {
    float: left;
    margin: 0;
    width: 33%;
}

/* Video player */
video#bgvid { 
    position: fixed;
    top: 50%;
    z-index: 1;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}
/* TimeLine */
.timeline-event-content{
	background-color: #E6E6E6;
	padding: 10px;
}


/* Sections (Pagina's)*/

/* Pagina 1 */
#section0{
	max-width: 100%;
	height: auto;
	display: block;
}

/* Pagina 2 */
#section1{
	margin-top: 60px;
	background-color: blue;
	z-index: 2;
	background-color: #0F82AE;   
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	height: auto;
	display: block;
}

/* Pagina 3 */
#section2{
	margin-top: 60px;
	background-color: #99ABB0;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	height: auto;
	display: block;
}

/* Pagina 4 */
#section3{
	margin-top: 60px;
	background-color: #E7F3F2;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	height: auto;
	display: block;
}

/* Navigatie */
#menu{
    position:fixed;
    top:0;
    left:0;
    height: 60px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    list-style-type: none;
	background-color: #EE5322;
}

#menu li{
    display: inline;
    float: left;
}

#menu a:link, a:visited {
    text-align: center;
    text-decoration: none;
    padding: 4px;
	background-color: #EE5322;
}

li{
	margin:0px auto;
	text-decoration: none;
	vertical-align: middle;
	height: 30px;
	color: #EE5322;
	display:inline-block;
}