/* CSS Resetten */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}


/* Foto's responsive maken */
img {
	width: 100%;
	height: auto;
}


/* Lettertypen */
p, h1, h2, h3, fieldset  {
	font-family: 'Cabin Condensed', sans-serif;
}

legend {
	font-weight: bold;
}

/* Basis opmaak pagina */
h1{
	text-align:center;
}

p{
	margin-left: 10px;
	margin-right: 10px;
}

/* grote telefoon */
#iphone {
    height: 500px;
    width: 250px;
  	margin-left: 40%;
    display: block;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

/* Grote rode knop en titel*/
.button-red{
	display:table;
	position:relative;
	margin:0 auto;
	outline:none;
	color:#fff;
	border:none;
	text-decoration:none;
	text-align:center;
	background-color: blue;
	font-size:30px;
	padding: 18px;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
}

.bigasstitle{
    font-size: 100px;
    color: #fff;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding-top: 90px;
}
.ondertitel{
	text-align: center;
	font-size: 25px;
	color: #fff;
}

.section{
	padding-top: 65px;
}

/* Video player */
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
video#openingsfilm{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

#openingsfilm{
    height: 100%;
    width: 100%;
}

/* Sections (Pagina's)*/

/* Pagina 1 */
#section0{
	max-width: 100%;
	height: auto;
	display: block;
}

/* Pagina 2 */
#section1{
	background-color: blue;
	z-index: 2;
	background-color: #0F82AE;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	height: auto;
	display: block;
}

/* Pagina 3, 4, 5 en 6 */
#section2, #section3, #section4, #section5{
	background-color: #99ABB0;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	height: auto;
	display: block;
}

/* Pagina 7 */
#section6{
	background-color: #E7F3F2;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	height: auto;
	display: block;
}

/* Pagina 8 */
#section7{
	background-color: #FF69B4;
	background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	height: auto;
	display: block;
}

/* Navigatie */
.nav{
    position:fixed;
    top:0;
    left:0;
    height: 60px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin:0;
    list-style-type: none;
    background-color: #EE5322;
}
#menu{
	height:60px;
}

#menu li{
    display: inline;
    float: left;
	vertical-align: middle;
	line-height:60px;
	width: 18%;
	margin: 0% 1%;
}

#menu a:link, a:visited {
    text-align: center;
    text-decoration: none;
    padding: 4px;
	background-color: #EE5322;
}

/* Telefoon header in nav */




/* TIJDLIJN */

.tijdlijn::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 5px;
	background: #ef5423;
}

.blok {
	padding-top: 20px;
	position: relative;
	display: block;
	width: 100%;
	float: left;
}

.tijdlijn-text{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 48%;
	background-color: white;
	border-radius: 50%;
	padding: 15px;
	margin-top: 50px;
}

.tijdlijn-content{
	margin-left: 0;
	width: 45%;
	background-color: #e7f2f2;
	padding: 10px;
}

span.tijdlijn-text {
	line-height: 40px;
	text-align: center;
}

.right{
	position: relative;
	float: right;
}
.left{
	position: relative;
	float: left;
}

.datum1{
	color: red;
	width: 100%;
	left: 122%;
	top: 6px;
}

.readmore{
	padding: .8em 1em;
	background: #acb7c0;
	color: white;
	border-radius: 0.25em;
	margin-left: 10px;
	margin-bottom: 10px;
	display: table;
	text-decoration: none;
	font-size: 15px;
	color: #ef5423;
}
.readmore{
color: white;
}


.timeline a{
	display: block;
	padding-bottom: 20px;
	position: relative;
	margin-bottom: 2em;
}

.tijdlijn-img {
	float: left;
	padding: 10px;
	display: block;
}


/** RESPONSIVE **/


  /* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .bigasstitle {
    	font-size: 50px;
	}
	#iphone {
    	margin-left: 30%;
    }
}

    /* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

    /* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}



